google-api-core==2.24.2
google-cloud-speech==2.32.0
google-cloud-storage==3.1.0
google-cloud-texttospeech==2.26.0
google-genai==1.12.1
ffmpeg==1.4
Flask==3.1.0
pydub==0.25.1
moviepy==2.1.2
mutagen==1.47.0
